extends ../layout

block content
  h1 Lista de Usuarios
  table
    tr
      th Usuario
      th Nombre
      th Apellido
      th Edad
      th
        a(href='/users/new') Nuevo
    each user in users
      tr
        td #{user.usuario}
        td #{user.nombre}
        td #{user.apellido}
        td #{user.edad}
        td
